*, *:after, *:before {
  box-sizing: border-box;
}
html {
  font-family: "Source Sans Pro", sans-serif;
  min-width: none;
}

h2, h3 {
  color: var(--primary);
  font-weight: 300;
}

h3 {
  font-weight: 300;
  font-size: 22px;
  margin-bottom: 10px;
}

a {
  text-decoration: none;
}

p {
  color: #fff;
}

.primary {
  color: #D5874C;
}
.p-15 {
  padding: 18px;
}

.pl-15 {
  padding: 15px;
}

.p-heading {
  padding: 50px 15px;
}

.hidden {
  display: none;
}

.mt-20 {
  margin-top: 90px;
}

.mb-xl {
  margin-bottom: 70px;
}

.mb-sm {
  margin-bottom: 15px;
}

.mt-sm {
  margin-top: 15px;
}

.mt-m {
  margin-top: 30px;
}

.mb-m {
  margin-bottom: 30px;
}

.text-center {
    text-align: center;
}

.text-white {
    color: #fff;
}

.text-black {
    color: #000;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.flex {
  display: flex;
}
.shown {
  display: flex;
  translate: 0%;
}

.flex-col {
  flex-direction: column;
}

.justify-between {
  justify-content: space-between;
}

.button {
  display: inline-block;
  border: 1px solid var(--primary);
  text-transform: uppercase;
  font-weight: bold;
  padding: 10px 25px;
  margin: 10px 0;
  text-decoration: none;
}
.super-headline {
  text-transform: uppercase;
  font-size: 1em;
  font-weight: 600;
  color: #363636;
}
footer {
  background-color: #363636;
}
@media (min-width: 600px) {
  .mobile-hidden {
      display: none;
  }
}
