@import "reset";
@import "variables";
@import "fonts";
@import "base";
@import "global";
@import "hamburger";
@import "mainnav";
@import "mainnav-mobile";
@import "layout/footer";


:root {
    --primary: #D5874C;
}

@media (max-width: 599px) {
    .super-headline {
        text-transform: uppercase;
        font-size: 16px;
        font-weight: 600;
        color: #363636;
        margin-top: 15px;
    }

    /* header {
        background-image: url('https://commons.wikimedia.org/wiki/File:Cheng_Tsung_Lung.jpg')
    }
    */

    blockquote, h4 {
        color: #fff;
        font-size: 22px;
        font-weight: 300;
    }

    blockquote {
        margin-bottom: 20px;
    }

    button {
        background-color: transparent;
        width: 40px;
        height: 40px;
        display: flex;
        flex-direction: column;
        align-items: end;
        justify-content: center;
        border: 0;
        outline: none;
        margin: 10px 0;
    }

    button {
        .line {
            width: 23px;
            height: 2px;
            margin-bottom: 8px;
            background-color: var(--primary);
            transition: transform 0.1s cubic-bezier(0.075, 0.82, 0.165, 1);
            transform: rotate(0deg);
        }
        .line1 {
            transform-origin: center left;
            transform: rotate(45deg);
        }
        .line2 {
            width: 23px !important;
            transform: rotate(-45deg);
            transform-origin: center right;
            translate: -8px -10px;
        }
        .line:last-child {
            margin-bottom: 0;
            width: 16px;
        }
    }


    .section-heading {
        font-size: 28px;
    }

    .level {
        display: flex;
        background-color: #363636;
        position: relative;
        margin-bottom: 100px;
    }

    .icon-bg {
        position: absolute;
        left: 50%;
        transform: translate(-50%, 0);
        top: -58px;
        height: 116px;
        width: 116px;
        display: grid;
        place-items: center;
        border-radius: 100%;
        background-color: #595959 ;
    }

    .number {
        position: absolute;
        left: calc(50% + 38px);
        top: -77px;
        background-color: #D5D5D5;
        height: 38px;
        width: 38px;
        display: grid;
        place-items: center;
        border-radius: 100%;
        color: var(--primary);
        font-weight: 600;
        font-size: 28px;
        z-index: -1;
    }

    header {
        background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/0/09/DANCE_-_Grupo_de_Rua%2C_%22Inoah%2C%22_at_Brooklyn_Academy_of_Music_%2849020288773%29.jpg/800px-DANCE_-_Grupo_de_Rua%2C_%22Inoah%2C%22_at_Brooklyn_Academy_of_Music_%2849020288773%29.jpg?20191112041104");
        background-repeat: no-repeat;
        height: 558px;
        background-color: #000;
        background-position: center bottom -40px;

        h1 {
            color: white;
            padding: 15px;
            font-weight: 300;

            span {
                text-transform: uppercase;
                font-size: 16px;
                font-weight: 600;
            }
        }

        h2 {
            font-size: 38px;
            margin-bottom: 20px;
        }
    }
    .header-content {
        padding: 80px 0 0 80px;
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        flex: 1 1 0%;
    }
    .header-booking {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-start;
        padding-bottom: 80px;
    }
    nav ul {
        position: absolute;
    }

    .articles {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    img {
        max-width: 100%;
        max-height: auto;
    }
    .apply {
        writing-mode: vertical-lr;
        color: #1A1A1A;
        background-color: #F7F7F7;
        font-size: 18px;
        padding: 10px;
        rotate: 180deg;
    }

    .items-center {
        justify-content: center;
    }

    .levelp {
        line-height: 1.5;
        font-weight: 300;
    }

    .img-crop {
        width: 100%;
        max-height: 400px;
        overflow: hidden;
    }
    img {
        //max-width: 100%;
        max-height: auto;
    }

    #hamburger {
        position: relative;
        z-index: 2;
    }
    .menu {
        position: fixed;
        display: flex;
        z-index: 1;
        flex-direction: column;
        align-items: end;
        top: 0;
        right: 0;
        bottom: 0;
        width: 85%;
        background-color: #363636;
        padding-top: 70px;
        padding-right: 15px;
        transition: translate 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);

        a {
            display: block;
            color: #fff;
            font-size: 28px;
            font-weight: 300;
            margin-bottom: 25px;
        }
    }
    .shown {
        translate: 0%;
    }
    .mobile-hidden {
        translate: 100%;
    }

    #about {

        background-color: #FFF7F2;

        p {
            line-height: 1.5em;
            color: #363636;
        }
    }

    #news {

        padding: 15px;

        article {
            background-color: #F7F7F7;

            p {
                line-height: 1.9;
                color: #363636;
                margin-bottom: 20px;
            }
        }
    }
}

@media (min-width: 600px) {
    header {
        background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/0/09/DANCE_-_Grupo_de_Rua%2C_%22Inoah%2C%22_at_Brooklyn_Academy_of_Music_%2849020288773%29.jpg/800px-DANCE_-_Grupo_de_Rua%2C_%22Inoah%2C%22_at_Brooklyn_Academy_of_Music_%2849020288773%29.jpg?20191112041104");
        background-repeat: no-repeat;
        height: 896px;
        background-color: #000;
        background-position: right 10vh;
        background-size: contain;
        font-size: 1.2em;

        h1 {
            color: white;
            padding: 15px;
            font-weight: 300;
        }
        span {
            text-transform: uppercase;
        }
    }

    header > div:first-child {
        align-items: center;
        height: 75px;
    }

    #hamburger {
        display: none;
    }

    .menu {
        display: flex;
    }

    nav {
        ul {
            li {
                margin-right: 15px;
                a {
                    color: var(--primary);
                    text-decoration: underline;
                    text-underline-offset: 6px;
                    text-transform: uppercase;
                    font-weight: 600;
                }
            }
        }
    }

    .header-content {
        padding-left: 80px;
        display: flex;
        height: 80%;
        align-items: center;
    }
    .header-booking h2 {
        color: var(--primary);
        font-size: 2.5em;
        margin-bottom: 1em;
    }

    .header-booking {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding-bottom: 80px;
    }

    #about {
        padding: 75px 15px;
    }

    #about > div:first-child {
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    .articles {
        display: grid;
        grid-template-columns: repeat(3, minmax(0, 1fr));
        gap: 15px;
        }

    article {
        img {
            max-width: 100%;
            max-height: 240px;
        }
    }

    footer {
        div:first-child {
            display: flex;
            justify-content: space-between;
            font-weight: 300;
            h4 {
                font-size: 1.2em;
                margin-bottom: 0.5em;
            }
            p {
                font-size: 0.8em;
            }
        }

        .footer-text {
            display: flex;
            flex-direction: column;
        }
    }
}
